@use '../abstracts/variables' as * ;
 .header{
     height: 5.5rem;
     .container{
        display: flex;
        align-items: center;
        gap: .5rem;
        height: 100%;

    }
    &__logo{
        width: 1.8rem;
        aspect-ratio: 1; 
    }
    &__word{
        font-size: map-get($font-sizes, "700");
        font-weight: map-get($font-weights,"bold");
    }
}